/*Pokemons com exibição no formato de Grade*/

.pokemon-grid {
  display: grid;
  grid-gap: 16px;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(13%, 1fr));

}

  .pokemon-grid .box {
   
    box-shadow: 1px 2px 5px rgba(0,0,0,0.3);
 
    text-align: center;

  }

.pokemon-grid .box img {
    
    max-width: 200px;
    display:block;
    margin: 0 auto;
}



.pokemon-image {
  zoom: 180%;
  height: 120px;
  
  background-position: center;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat; /* Evita repetição do background */
  background-position: center;
}

pagination-controls {
  text-align: center;
}
